#header-area {
  height: 90px;

  .container {
    padding: 0 5rem;

    nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        li {
          color: $soft-gray;
          font-weight: 400;
          line-height: 100px;
          position: relative;

          &:hover {
            color: $primary-color;
            transition: 0.5s ease;
          }

          &.has-dropdown {
            position: relative;

            &::after {
              content: '+';
              position: absolute;
              right: -16px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 16px;
              color: $soft-gray;
              transition: color 0.3s ease;
            }

            &:hover::after {
              color: $primary-color;
            }

            .dropdown {
              position: absolute;
              opacity: 0; /* Hidden initially */
              visibility: hidden; /* Hidden initially */
              transition: opacity 0.5s ease, visibility 0s 0.5s; /* Transition for opacity and visibility */
              flex-direction: column;
              gap: 0;
              left: 0;
              top: 92%;
              min-width: 170px;
              background-color: $white;
              box-shadow: 5px 6px 15px -7px rgba(64, 64, 64, 0.3);
              z-index: 1000;

              li {
                padding: 5px 20px;
                color: $dark-gray;
                line-height: 30px;
                width: 100%;

                &:not(:first-child) {
                  border-top: 1px solid $light-normal;
                }

                &:hover {
                  background-color: $primary-color;
                  color: $white;
                }
              }
            }

            &:hover .dropdown {
              opacity: 1; /* Show dropdown on hover */
              visibility: visible; /* Make it visible */
              transition: opacity 0.5s ease, visibility 0s 0s; /* Reset transition for visibility */
            }

            /* Fix for nested dropdown */
            .dropdown li.has-dropdown {
              position: relative;

              &::after {
                content: '+';
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 16px;
                color: $soft-gray;
              }

              &:hover::after {
                color: $white;
              }

              .dropdown {
                left: 102%; /* Position nested dropdown to the right of its parent */
                top: 0; /* Align vertically to the top of the parent item */
                opacity: 0; /* Initially hidden */
                visibility: hidden; /* Initially hidden */
                transition: opacity 0.5s ease, visibility 0s 0.5s; /* Smooth transition for nested dropdown */
                display: flex; /* Show flex layout */
              }

              &:hover .dropdown {
                opacity: 1; /* Show nested dropdown */
                visibility: visible; /* Make nested dropdown visible */
                transition: opacity 0.5s ease, visibility 0s 0s; /* Reset transition for nested dropdown */
              }
            }
          }
        }

        .menu-close-btn {
          display: none;
        }

        // Responsive styles for ul
        @media (max-width: 992px) {
          flex-direction: column;
          background-color: #000;
          position: absolute;
          top: 0;
          left: 0;
          width: 50%;
          height: calc(100dvh);
          transform: translateX(-100%);
          transition: 0.5s ease;
          opacity: 0;
          gap: 0;
          z-index: 100;

          li {
            margin: 0;
            line-height: 57px;

            &.has-dropdown {
              &::after {
                right: -31px;
                top: 28px;
                font-size: 30px;
              }

              &:hover::after {
                color: $primary-color;
              }

              .dropdown {
                position: static; /* Static position for mobile dropdowns */
                display: none; /* Hide by default */
                flex-direction: column;
                background-color: #222;
                box-shadow: none;

                li {
                  color: $white;

                  &:hover {
                    background-color: $primary-color;
                    color: $white;
                  }
                }
              }

              &:hover .dropdown {
                display: flex; /* Show on hover */
              }
            }

            a {
              color: $white;
              font-size: 24px;
              font-weight: 500;
              margin: 0;
            }
          }

          .menu-close-btn {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
            color: $white;
          }

          &.active {
            transform: translateX(0);
            opacity: 1;
          }
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .header-btn-area {
      .login-btn {
        color: $soft-gray;
        font-weight: 400;
        line-height: 24px;
      }

      .fa-bars {
        display: none;
        font-size: 25px;

        @media (max-width: 992px) {
          display: block;
        }
      }
    }
  }
}
