.section-title{
    font-size: 3rem; 
    font-weight: 500;
    line-height: 57px;
    margin-top: 20px; 
    color: $dark-neutral;
    text-align:center;
}
.sub-title-wrapper{
    display: flex;
    justify-content:center;
}
.section-sub-title{
    color:$soft-gray ;
    border: 1px solid $light-mint-green; 
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.25rem;
}
.section-sub-title-with-bulet{
    @extend .section-sub-title; 
    background-color:$white;
    border:1px solid #F3F7FF;
    display: flex;
    align-items:center;
    gap: 0.5rem;
}
.circle-icon{
    display: block;
    width:8px; 
    height:8px;
    background-color:#4382FF;      
    border-radius:50%;                  
}
.hero-title{
    font-family: $font-family-heading;
    font-weight: 500;
    line-height: 120%;
    color: $dark-neutral;
    font-size: 3rem; 
    text-align: center;
    margin-top: 20px;
    @media (min-width: 768px) {
        font-size: 3.5rem;
    }
}
.hero-desc {
    text-align: center; 
    margin-top: 1.5rem; 
    line-height: 27px;
    font-size:18px;
    line-height:27px;
    color:$dark-gray;
    font-weight: normal
  }
  .job-title{
    @extend .section-title;
    text-align:left;
  }
  
.btn,.btn-primary{
    @include btn();
}
.btn-secondary {
    @include btn($bgColor: $light-color, $hoverBgColor: $primary-color, $color:$dark-gray, $hoverColor: $light-color, $border:$light-color);    
} 

.light-bg{
    background-color: $light-normal !important; 
}

.blog-cat{
    span{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray;
        display: block; 
    }
}
.blog-date{
    p{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray; 
    }
}
.blog-title{
    color: $dark-neutral;
} 
.section-desc{
    color: $dark-gray;
}

.team-member-card{
    .team-member-image{
        display:flex;
        justify-content:center;
        background-color:$light-mint-green;
        border-radius: 16px;
        position: relative;
        z-index: -1;
        img{
            max-width: 262px;
            max-height: 320px;
        }
    }
    .team-member-content{
        background-color: $white;
        box-shadow: 6.751px 6.751px 33.757px 0px rgba(160, 178, 194, 0.20);
        margin-top: -2rem; 
        border-radius: 0.5rem;  
        padding: 0.5rem; 
        margin-left: 0.5rem; 
        margin-right: 0.5rem; 
          
        .team-member-info{
            border-bottom: 1px solid $light-mint-green; 
            padding-bottom: 5px;
            .team-member-name{
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                color: $dark-neutral; 
            }
            .team-member-role{
                color: $navy-blue;
                text-align: center;
                font-size: 14px;
            }
        }

        .team-member-social-links{
            display: flex;
            justify-content: center;  
            margin-top: 1.5rem; 
            > * + * {
                margin-left: 0.5rem; 
              }
            img {
                background: $primary-color;
                width: 26px;
                padding: 4px;
                height: 26px;
                border-radius: 50%;
            }
        }
        @media (min-width: 768px) {  
            padding: 1rem; 
            margin-left: 1rem; 
            margin-right: 1rem;   
          }
    }   
}



/* Normalize styles */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  // Checkbox container
  .checkbox-container {
    margin-top: 1rem;
  }
  
  // Checkbox specific styles
  .form-group {
    input[type="checkbox"] {
      display: none;
    }
  
    .checkmark {
      position: relative;
      cursor: pointer;
      padding-left: 10px;
      line-height: 20px;
  
      &:before {
        content: '';
        width: 16px;
        height: 16px;
        border: 2px solid $primary-color;
        border-radius: 3px;
        background-color: transparent;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
    .checkbox-label{
        font-size: 14px;
        color: #3B3B40;
        font-weight: normal;
        margin-left: 15px;
        line-height: 21px;
    }
  
    input[type="checkbox"]:checked + .checkmark {
      &:before {
        background-color: $primary-color;
        border-color: $primary-color;
      }
  
      &:after {
        content: '';
        position: absolute;
        left: 6px;
        top: 6px;
        width: 6px;
        height: 12px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
  