.section-sub-title{
    color:$soft-gray ;
    border: 1px solid $light-mint-green; 
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 50px;
}
.hero-title{
    font-family: $font-family-heading;
    font-weight: 500;
    line-height: 120%;
    color: $dark-neutral;
}

// blog meta
.blog-cat{
    span{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray;
        display: block; 
    }
}
.blog-date{
    p{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray; 
    }
}
.blog-title{
    color: $dark-neutral;
} 
.section-desc{
    color: $dark-gray;
}

// team card

.team-member-card{
    .team-member-image{
        background-color:$light-mint-green;
        border-radius: 16px;
        position: relative;
        z-index: -1;
        img{
            max-width: 262px;
            max-height: 320px;
        }
    }
    .team-member-content{
        background-color: $white;
        box-shadow: 6.751px 6.751px 33.757px 0px rgba(160, 178, 194, 0.20);
        .team-member-info{
            border-bottom: 1px solid $light-mint-green;
            padding-bottom: 5px;
            .team-member-name{
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                color: $dark-neutral; 
            }
            .team-member-role{
                color: $navy-blue;
                text-align: center;
                font-size: 14px;
            }
        }
        .team-member-social-links img {
            background: $primary-color;
            width: 26px;
            padding: 4px;
            height: 26px;
            border-radius: 50%;
        }
    }   
}
 