.section-sub-title{
    color:$soft-gray ;
    border: 1px solid $light-mint-green; 
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 50px;
}
.hero-title{
    font-family: $font-family-heading;
    font-weight: 500;
    line-height: 120%;
    color: $dark-neutral;
}

// blog meta
.blog-cat{
    span{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray;
        display: block; 
    }
}
.blog-date{
    p{
        background-color: $light-color;
        font-weight: 500;
        color: $dark-gray; 
    }
}
.blog-title{
    color: $dark-neutral;
} 
