#brands,#blogs,#cta,#footer{
    background-color: $mint-white;
}
.card-bg-white{
    background-color:$white !important;  
    box-shadow: 0px 11px 25px 0px rgba(0,0,0,0.1);
}

p {
	font-size: 1.125;  
	line-height: 1.688;  
}
a{
	// color:$dark-neutral;
	text-decoration: none;
	display: inline-block;        
}

.list{
    list-style-type: disc;  
    padding-left: 20px;    
    margin-bottom: 2rem;
    li::marker {
        color: $soft-gray;      
    }
    li{
        color: $dark-gray;
        line-height: 24px; 
        font-size: 16px;
    }
}
 
.pricing-switcher {
    display: flex;  
    align-items: center;  
    justify-content: center; 

    .switcher-wrapper {
        background-color: $light-normal;
        padding: 0.5rem;  
        display: inline-flex;  
        align-items: center;  
        justify-content: center;  
        gap: 1rem;  
        border-radius: 9999px;    

        .switcher-btn {
            border: none;
            background: none;
            color: $dark-gray;
            font-weight:normal;
            font-size:18px;
            line-height:27px;
            transition: color 0.3s, background-color 0.3s; 
            padding: 8px 15px;
            border-radius: 50px;
            cursor: pointer;
    
            &.active {
                background-color: $primary-color; 
                color:$soft-lilac;
                font-weight:500;
            }
    
            &:hover {
                background-color:$primary-color;
                color:$soft-lilac;
                font-weight:500;
            }
            @media (max-width: 310px) {
                    padding: 4px 12px;
            }
        }
    }
    
}

.btn-wrapper {
    display: flex; 
    gap: 1rem; 
    justify-content: center;  
    margin-top: 2rem; 
    margin-bottom: 2rem;
}

.blog-page .breadcrumb{
    margin-top:-96px;
}
#blog-breadcrumb{
    .custom-padding{
        padding-bottom:17rem !important;    
    }
}
button{
    border: none;
    outline: none;
    background: transparent;  
}