// colors
$primary-color:#098239;
$green-deep: #012C16;
$light-normal:#EBF5EF;
$light-color:#F5FAF7;
$soft-gray:#737373;
$dark-neutral:#171717;
$light-neutral: #FAFAFA;
$green-bright: #24904F;
$dark-gray:#404040;
$light-mint-green:#C2E0CE;
$white:#FFFFFF;
$dark-blue-gray: #3E4557;     
$soft-green-gray: #DFEFE5;
$mint-white:#FAFDFB;
$navy-blue: #091E42;
$blue-gray: #DFE6FB;
$background-light:#fafcfb;


// font family 
$font-family-para: 'GeneralSans', sans-serif; 
$font-family-heading: 'GeneralSans', sans-serif;  

 

