html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Sans Regular (Weight 400) */
@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/GeneralSans-Regular.woff") format("woff"), url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* General Sans Medium (Weight 500) */
@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"), url("../fonts/GeneralSans-Medium.woff") format("woff"), url("../fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* General Sans SemiBold (Weight 600) */
@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-SemiBold.woff") format("woff"), url("../fonts/GeneralSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* General Sans Bold (Weight 700) */
@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-Bold.woff") format("woff"), url("../fonts/GeneralSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* General Sans ExtraBold (Weight 800) */
@font-face {
  font-family: 'GeneralSans';
  src: url("../fonts/GeneralSans-ExtraBold.woff2") format("woff2"), url("../fonts/GeneralSans-ExtraBold.woff") format("woff"), url("../fonts/GeneralSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "GeneralSans", sans-serif;
  font-weight: normal;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 57px;
  margin-top: 20px;
  color: #171717;
}

.section-sub-title, #hero-section-home .hero-content-area .hero-sub-title, #hero-section-features .hero-content-area .hero-sub-title, #features .section-sub-title, #feature-details .section-heading .section-sub-title, #faq .section-sub-title, #testimonial .section-sub-title {
  color: #737373;
  border: 1px solid #C2E0CE;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
}

.hero-title, #hero-section-features .hero-content-area .hero-title {
  font-family: "GeneralSans", sans-serif;
  font-weight: 500;
  line-height: 120%;
  color: #171717;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .hero-title, #hero-section-features .hero-content-area .hero-title {
    font-size: 3.5rem;
  }
}

.btn, #sign-in .container .auth-panel .form-panel .tab-buttons .tab-button, #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button, #sign-in .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-in .container .auth-panel .form-panel #signin-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signin-form .sign-up-btn, .btn-primary {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover, #sign-in .container .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-in .container .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-in .container .auth-panel .form-panel #signin-form .sign-up-btn:hover, #sign-up .container .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-up .container .auth-panel .form-panel #signin-form .sign-up-btn:hover, .btn-primary:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.btn-secondary {
  font-weight: 400;
  line-height: 24px;
  color: #404040;
  background-color: #F5FAF7;
  border: 1px solid #F5FAF7;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.btn-secondary:hover {
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.light-bg {
  background-color: #EBF5EF !important;
}

.blog-cat span {
  background-color: #F5FAF7;
  font-weight: 500;
  color: #404040;
  display: block;
}

.blog-date p {
  background-color: #F5FAF7;
  font-weight: 500;
  color: #404040;
}

.blog-title {
  color: #171717;
}

.section-desc {
  color: #404040;
}

.team-member-card .team-member-image {
  background-color: #C2E0CE;
  border-radius: 16px;
  position: relative;
  z-index: -1;
}

.team-member-card .team-member-image img {
  max-width: 262px;
  max-height: 320px;
}

.team-member-card .team-member-content {
  background-color: #FFFFFF;
  -webkit-box-shadow: 6.751px 6.751px 33.757px 0px rgba(160, 178, 194, 0.2);
          box-shadow: 6.751px 6.751px 33.757px 0px rgba(160, 178, 194, 0.2);
}

.team-member-card .team-member-content .team-member-info {
  border-bottom: 1px solid #C2E0CE;
  padding-bottom: 5px;
}

.team-member-card .team-member-content .team-member-info .team-member-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #171717;
}

.team-member-card .team-member-content .team-member-info .team-member-role {
  color: #091E42;
  text-align: center;
  font-size: 14px;
}

.team-member-card .team-member-content .team-member-social-links img {
  background: #098239;
  width: 26px;
  padding: 4px;
  height: 26px;
  border-radius: 50%;
}

.pricing-switcher {
  background-color: #EBF5EF;
}

.pricing-switcher .switcher-btn {
  font-family: 'Inter', sans-serif;
  border: none;
  background: none;
  color: #404040;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.pricing-switcher .switcher-btn.active {
  background-color: #098239;
  color: #F5FAF7;
}

.pricing-switcher .switcher-btn:hover {
  background-color: #098239;
  color: #F5FAF7;
}

@media (max-width: 310px) {
  .pricing-switcher .switcher-btn {
    padding: 4px 12px;
  }
}

/* Normalize styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.checkbox-container {
  margin-top: 1rem;
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group .checkmark {
  position: relative;
  cursor: pointer;
  padding-left: 10px;
  line-height: 20px;
}

.form-group .checkmark:before {
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #098239;
  border-radius: 3px;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 6px;
}

.form-group .checkbox-label {
  font-size: 14px;
  color: #3B3B40;
  font-weight: normal;
  margin-left: 15px;
  line-height: 21px;
}

.form-group input[type="checkbox"]:checked + .checkmark:before {
  background-color: #098239;
  border-color: #098239;
}

.form-group input[type="checkbox"]:checked + .checkmark:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#brands, #blogs, #cta, #footer {
  background-color: #FAFDFB;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 2rem;
}

.list li::marker {
  color: #737373;
}

.list li {
  color: #404040;
  line-height: 24px;
  font-size: 16px;
}

#footer .container .footer-content-area {
  background-color: #EBF5EF;
}

#footer .container .footer-content-area h3 {
  color: #171717;
}

#footer .container .footer-content-area p {
  color: #737373;
}

#footer .container .footer-content-area .newslatter input {
  border: 1px solid #C2E0CE;
  height: 48px;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

#footer .container .footer-content-area .newslatter input:focus {
  border: 1px solid #098239;
  outline: none;
}

#footer .container .footer-content-area .newslatter .btn, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button, #footer #sign-in .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button, #sign-in #footer .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button, #footer #sign-up .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button, #sign-up #footer .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn, #footer #sign-in .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn, #sign-in #footer .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn, #footer #sign-in .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn, #sign-in #footer .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn, #footer #sign-up .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn, #sign-up #footer .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn, #footer #sign-up .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn, #sign-up #footer .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
}

#footer .container .footer-content-area .newslatter .btn:hover, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button:hover, #footer #sign-in .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button:hover, #sign-in #footer .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button:hover, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel .tab-buttons .tab-button:hover, #footer #sign-up .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button:hover, #sign-up #footer .container .auth-panel .form-panel .tab-buttons .footer-content-area .newslatter .tab-button:hover, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn:hover, #footer #sign-in .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn:hover, #sign-in #footer .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn:hover, #footer #sign-in .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn:hover, #sign-in #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn:hover, #footer #sign-in .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn:hover, #sign-in #footer .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn:hover, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signup-form .sign-up-btn:hover, #footer #sign-up .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn:hover, #sign-up #footer .container .auth-panel .form-panel #signup-form .footer-content-area .newslatter .sign-up-btn:hover, #footer #sign-up .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn:hover, #sign-up #footer .container .footer-content-area .newslatter .auth-panel .form-panel #signin-form .sign-up-btn:hover, #footer #sign-up .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn:hover, #sign-up #footer .container .auth-panel .form-panel #signin-form .footer-content-area .newslatter .sign-up-btn:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#footer .container .footer-content-area .links h3 {
  color: #171717;
}

#footer .container .footer-content-area .links h4 {
  color: #404040;
}

#footer .container .footer-content-area .links li {
  color: #171717;
  margin-bottom: 16px;
}

#footer .container .footer-content-area .links .icon-wrapper {
  background-color: #FAFDFB;
}

#footer .container .footer-content-area .copyright-text {
  position: relative;
  padding-top: 32px;
}

#footer .container .footer-content-area .copyright-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, rgba(2, 0, 36, 0)), color-stop(50%, #098239), color-stop(75%, rgba(0, 212, 255, 0)));
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 25%, #098239 50%, rgba(0, 212, 255, 0) 75%);
}

#footer .container .footer-content-area .copyright-text p {
  color: #404040;
}

#footer .container .footer-content-area .copyright-text a {
  color: #098239;
}

.container {
  max-width: 1440px !important;
  margin: 0 auto;
  padding: 80px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 60px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 60px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 60px 10px;
  }
}

#header-area {
  height: 90px;
  background-color: #FAFDFB;
}

#header-area .container {
  padding-top: 0;
  padding-bottom: 0;
}

#header-area .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

#header-area .container nav ul li {
  color: #737373;
  font-weight: 400;
  line-height: 100px;
  position: relative;
}

#header-area .container nav ul li:hover {
  color: #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 992px) {
  #header-area .container nav ul li:hover {
    color: #FFFFFF;
  }
}

@media (max-width: 992px) {
  #header-area .container nav ul li:hover {
    color: #FFFFFF !important;
  }
}

#header-area .container nav ul li.has-dropdown {
  position: relative;
  margin-right: 20px;
}

#header-area .container nav ul li.has-dropdown::after {
  content: '+';
  position: absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
  color: #737373;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media (max-width: 992px) {
  #header-area .container nav ul li.has-dropdown::after {
    right: 20px;
    color: #FFFFFF !important;
    top: 23px;
  }
}

#header-area .container nav ul li.has-dropdown:hover::after {
  content: '-';
  color: #098239;
}

#header-area .container nav ul li.has-dropdown .dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0s 0.3s;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  left: 0;
  top: 92%;
  min-width: 170px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 5px 6px 15px -7px rgba(64, 64, 64, 0.3);
          box-shadow: 5px 6px 15px -7px rgba(64, 64, 64, 0.3);
  z-index: 1000;
}

#header-area .container nav ul li.has-dropdown .dropdown li {
  color: #404040;
  line-height: 30px !important;
  width: 100%;
  padding: 5px 15px;
}

#header-area .container nav ul li.has-dropdown .dropdown li:not(:first-child) {
  border-top: 1px solid #EBF5EF;
}

#header-area .container nav ul li.has-dropdown .dropdown li:hover {
  background-color: #098239;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  #header-area .container nav ul li.has-dropdown .dropdown li:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#header-area .container nav ul li.has-dropdown .dropdown li .dropdown {
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0s 0.3s;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  margin-left: 10px;
}

#header-area .container nav ul li.has-dropdown .dropdown li .dropdown::before {
  content: "";
  position: absolute;
  left: -11px;
  top: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #098239;
}

@media (max-width: 992px) {
  #header-area .container nav ul li.has-dropdown .dropdown li .dropdown::before {
    display: none;
  }
}

#header-area .container nav ul li.has-dropdown .dropdown li:hover > .dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease, visibility 0s 0s;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

@media (max-width: 992px) {
  #header-area .container nav ul li.has-dropdown .dropdown li {
    padding: 10px 20px !important;
    margin: 5px 0px;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: #FFFFFF;
  }
}

@media (max-width: 992px) {
  #header-area .container nav ul li.has-dropdown .dropdown {
    position: static;
    background-color: #000;
    display: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
  }
}

#header-area .container nav ul li.has-dropdown:hover > .dropdown {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
  -webkit-transition: opacity 0.3s ease, visibility 0s 0s;
  transition: opacity 0.3s ease, visibility 0s 0s;
}

@media (max-width: 992px) {
  #header-area .container nav ul li {
    width: 100%;
    color: #FFFFFF;
    text-align: left !important;
    padding: 10px 20px !important;
    margin: 5px 0px !important;
    border: 0 !important;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    line-height: 30px !important;
  }
}

@media (max-width: 992px) {
  #header-area .container nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

#header-area .container nav .menu-close-btn {
  display: none;
}

@media (max-width: 992px) {
  #header-area .container nav .menu-close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #FFFFFF;
  }
}

@media (max-width: 992px) {
  #header-area .container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    background-color: black;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    padding: 100px 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
    opacity: 0;
    z-index: 100;
  }
  #header-area .container nav.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#header-area .container .header-btn-area .login-btn {
  color: #737373;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  #header-area .container .header-btn-area .login-btn {
    display: none;
  }
}

#header-area .container .header-btn-area .fa-bars {
  display: none;
  font-size: 25px;
}

@media (max-width: 992px) {
  #header-area .container .header-btn-area .fa-bars {
    display: block;
  }
}

.sub-menu > .has-dropdown {
  position: relative;
  margin-right: 0 !important;
}

.sub-menu > .has-dropdown::after {
  content: '+';
  position: absolute;
  right: 16px !important;
  color: #098239 !important;
}

.sub-menu > .has-dropdown:hover::after {
  content: '-';
  color: #FFFFFF !important;
}

#hero-section-home {
  background-color: #FAFDFB;
}

#hero-section-home .hero-content-area .content {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(198, 235, 231, 0.18)), to(rgba(228, 235, 255, 0.3))) !important;
  background: linear-gradient(180deg, rgba(198, 235, 231, 0.18) 0%, rgba(228, 235, 255, 0.3) 100%) !important;
  border-radius: 1.5rem !important;
  height: 100% !important;
}

#hero-section-features {
  margin-top: -90px;
}

#hero-section-features .hero-content-area {
  padding-top: 3rem;
}

#hero-section-features .hero-content-area .content {
  max-height: 634px !important;
}

#hero-section-features .hero-content-area .content {
  height: auto;
  padding: 7rem 1.5rem;
}

#features {
  background-color: #FFFFFF;
}

#features .section-title {
  font-size: 2.8rem;
}

#features .features-item {
  background: #F5FAF7;
}

#feature-details .section-heading .circle-icon {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #4382FF;
  border-radius: 50%;
}

#feature-details .section-heading #hero-section-home .hero-content-area .hero-sub-title, #hero-section-home .hero-content-area #feature-details .section-heading .hero-sub-title, #feature-details .section-heading #hero-section-features .hero-content-area .hero-sub-title, #hero-section-features .hero-content-area #feature-details .section-heading .hero-sub-title, #feature-details .section-heading .section-sub-title {
  background-color: #FFFFFF;
  border: 1px solid #F3F7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#feature-details .feature-content h3 {
  color: #171717;
}

#feature-details .feature-content p {
  color: #404040;
}

#faq {
  background-color: #fafcfb;
}

#faq .faq-area .faq-item {
  background-color: #F5FAF7;
}

#faq .faq-area .faq-item .faq-toggle-icon {
  background-color: #098239;
}

#testimonial {
  background-color: #F5FAF7;
}

#testimonial .testimonial-item {
  background-color: #FFFFFF;
}

#testimonial .testimonial-item .testimonial-content p {
  color: #404040;
}

#testimonial .testimonial-item .star-rating i {
  color: #C2E0CE;
}

#testimonial .testimonial-item .testimonail-profile h3 {
  color: #404040;
}

#testimonial .testimonial-item .testimonail-profile p {
  color: #404040;
}

#pricing .pricing-cards .card {
  background-color: #F5FAF7;
  border: 1px solid rgba(64, 64, 64, 0.12);
}

#pricing .pricing-cards .card:hover {
  background-color: #012C16;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#pricing .pricing-cards .card:hover h3, #pricing .pricing-cards .card:hover p, #pricing .pricing-cards .card:hover .features {
  color: #FAFAFA;
}

#pricing .pricing-cards .card:hover .price span {
  color: #FAFAFA;
}

#pricing .pricing-cards .card:hover .fa-check {
  color: #FAFDFB;
}

#pricing .pricing-cards .card:hover .buy-now-btn {
  background-color: #F5FAF7;
}

#pricing .pricing-cards .card h3, #pricing .pricing-cards .card p {
  color: #737373;
}

#pricing .pricing-cards .card .price span {
  color: #171717;
}

#pricing .pricing-cards .card .features {
  color: #3E4557;
}

#pricing .pricing-cards .card .buy-now-btn {
  text-decoration: none;
  display: block;
  background-color: #DFEFE5;
  padding: 12px 5px;
  border-radius: 32px;
  text-align: center;
}

#hero-pricing .content-area {
  background-color: #d5ebf2;
  z-index: -10;
}

@media (min-width: 566px) {
  #hero-pricing {
    margin-bottom: -24rem;
  }
}

@media (max-width: 565px) {
  #hero-pricing {
    margin-bottom: -20rem;
  }
}

@media (max-width: 520px) {
  #hero-pricing {
    margin-bottom: -16rem;
  }
}

@media (max-width: 420px) {
  #hero-pricing {
    margin-bottom: -13rem;
  }
}

@media (max-width: 310px) {
  #hero-pricing {
    margin-bottom: -13rem;
  }
}

#pricing-table {
  overflow-x: scroll;
  scrollbar-color: #aef5c7 transparent;
  scrollbar-width: thin;
  /* For Webkit Browsers (Chrome, Edge, Safari) */
}

#pricing-table::-webkit-scrollbar {
  height: 8px;
  /* Horizontal scrollbar height */
}

#pricing-table::-webkit-scrollbar-thumb {
  background-color: #aef5c7;
  /* Light mint green */
  border-radius: 10px;
}

#pricing-table::-webkit-scrollbar-track {
  background: transparent;
  /* Optional track color */
}

#pricing-table table {
  font-size: 0.875rem;
  width: 100%;
}

#pricing-table table tr {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pricing-table table tr:nth-child(odd) {
  background-color: #F5FAF7;
}

#pricing-table table tr:nth-child(even) {
  background-color: #FFFFFF;
}

#pricing-table table td {
  padding: 0.75rem;
}

#pricing-table table td:first-child {
  width: 35%;
}

#pricing-table table td:not(:first-child) {
  text-align: center;
  width: calc(65% / 3);
}

@media screen and (max-width: 767px) {
  #pricing-table table {
    min-width: 767px;
  }
}

#pricing-details .pricing-details-area .section-desc {
  color: #737373;
}

#pricing-details .pricing-details-area ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 2rem;
}

#pricing-details .pricing-details-area ul li::marker {
  color: #DFE6FB;
}

#pricing-details .pricing-details-area .section-separator {
  padding: 1.5rem 0;
  border-top: 1px solid #C2E0CE;
}

#pricing-details .pricing-details-area .section-separator .feature-sub-title {
  color: #404040;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

#pricing-details .pricing-cards {
  border: 1px solid #C2E0CE;
  border-radius: 10px;
  padding: 2rem 1rem;
}

#pricing-details .pricing-cards .price {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 48px;
  color: #171717;
}

#pricing-details .pricing-cards .price span {
  font-size: 20px;
  line-height: 28px;
}

#pricing-details .pricing-cards .product-desc {
  margin: 20px 0px;
  color: #737373;
  font-weight: 400;
  font-size: 16px;
}

#pricing-details .pricing-cards .btn, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel .tab-buttons .tab-button, #sign-in .container .auth-panel .form-panel .tab-buttons #pricing-details .pricing-cards .tab-button, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button, #sign-up .container .auth-panel .form-panel .tab-buttons #pricing-details .pricing-cards .tab-button, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-in .container .auth-panel .form-panel #signup-form #pricing-details .pricing-cards .sign-up-btn, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel #signin-form .sign-up-btn, #sign-in .container .auth-panel .form-panel #signin-form #pricing-details .pricing-cards .sign-up-btn, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signup-form #pricing-details .pricing-cards .sign-up-btn, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel #signin-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signin-form #pricing-details .pricing-cards .sign-up-btn {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  text-align: center;
}

#pricing-details .pricing-cards .btn:hover, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-in .container .auth-panel .form-panel .tab-buttons #pricing-details .pricing-cards .tab-button:hover, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-up .container .auth-panel .form-panel .tab-buttons #pricing-details .pricing-cards .tab-button:hover, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-in .container .auth-panel .form-panel #signup-form #pricing-details .pricing-cards .sign-up-btn:hover, #pricing-details .pricing-cards #sign-in .container .auth-panel .form-panel #signin-form .sign-up-btn:hover, #sign-in .container .auth-panel .form-panel #signin-form #pricing-details .pricing-cards .sign-up-btn:hover, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel #signup-form .sign-up-btn:hover, #sign-up .container .auth-panel .form-panel #signup-form #pricing-details .pricing-cards .sign-up-btn:hover, #pricing-details .pricing-cards #sign-up .container .auth-panel .form-panel #signin-form .sign-up-btn:hover, #sign-up .container .auth-panel .form-panel #signin-form #pricing-details .pricing-cards .sign-up-btn:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#blogs .blog-card {
  background-color: #FFFFFF;
}

#blogs .blog-card .blog-content {
  border: 1px solid rgba(64, 64, 64, 0.08);
}

#cta .cta-area {
  margin: 0 auto;
  background-color: #012C16;
}

#cta .cta-area h3, #cta .cta-area p {
  color: #FAFAFA;
  z-index: 9999;
}

#cta .cta-area .btn-area {
  z-index: 9999;
}

#cta .cta-area .btn-area .cta-btn {
  font-weight: 400;
  line-height: 24px;
  color: #404040;
  background-color: #F5FAF7;
  border: 1px solid #F5FAF7;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
}

#cta .cta-area .btn-area .cta-btn:hover {
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#cta .cta-area .section-bg-one {
  background-color: #0D3822;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: -12.5rem;
  left: -10.5rem;
  z-index: 20;
}

@media (min-width: 768px) {
  #cta .cta-area .section-bg-one {
    width: 409px;
    height: 409px;
  }
}

#cta .cta-area .section-bg-two {
  background-color: #0D3822;
  width: 409px;
  height: 409px;
  border-radius: 50%;
  position: absolute;
  bottom: -12rem;
  right: -7rem;
  z-index: 20;
}

#latest-post .blog-filter a {
  color: #404040;
  padding: 8px 20px;
  border-radius: 32px;
}

#latest-post .blog-filter .active {
  background-color: #098239;
  font-weight: 500;
  color: #FFFFFF;
}

#latest-post .blog-card {
  background-color: #FFFFFF;
}

#latest-post .blog-card .thumbnail {
  border-radius: 32px;
}

#latest-post .blog-card .thumbnail img {
  width: 100%;
}

#latest-post .blog-card .blog-content .blog-cat span {
  background-color: #F5FAF7;
  font-weight: 500;
  color: #404040;
  display: block;
}

#latest-post .blog-card .blog-content .blog-date p {
  background-color: #F5FAF7;
  font-weight: 500;
  color: #404040;
}

#latest-post .blog-card .blog-content .blog-title {
  color: #171717;
  font-weight: 500;
  font-size: 20px;
}

#blog-breadcrumb {
  background-color: #EBF5EF;
  margin-top: -90px;
}

.our-mission .card {
  background-color: #EBF5EF;
}

.our-mission .card p {
  color: #404040;
  font-size: 18px;
}

#team-details .details-area {
  border: 1px solid #DFE6FB;
  border-radius: 30px;
}

#team-details .details-area ul {
  list-style-type: disc;
  padding-left: 20px;
}

#team-details .details-area ul li::marker {
  color: #DFE6FB;
}

#stats-section {
  margin-bottom: 40px;
}

#stats-section .stat-card {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#stats-section .stat-card h3 {
  color: #404040;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  margin-bottom: 0.25rem;
}

@media (max-width: 992px) {
  #stats-section .stat-card h3 {
    text-align: center;
  }
}

#stats-section .stat-card .count {
  font-size: 40px;
  font-weight: 500;
  color: #171717;
}

@media (max-width: 992px) {
  #stats-section .stat-card .count {
    text-align: center;
  }
}

#integrations .integration-card-area .integration-card {
  background-color: #EBF5EF;
  padding: 32px;
  border-radius: 20px;
}

#integrations .integration-card-area .integration-card h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 48px;
  color: #171717;
  margin: 18px 0;
}

#integrations .integration-card-area .integration-card p {
  color: #404040;
  font-weight: normal;
  font-size: 18;
  line-height: 27px;
  margin-top: -4px;
}

@media (max-width: 768px) {
  #integrations .integration-card-area .integration-card {
    padding: 24px;
  }
}

#integrations-details .integration-header {
  background-color: #EBF5EF;
  padding: 2rem;
}

#integrations-details .integration-header img {
  width: 80px;
  height: 80px;
}

#integrations-details .integration-header .integration-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 48px;
  color: #141A18;
}

#integrations-details .integration-header .integration-description {
  color: #404040;
  max-width: 600px;
  line-height: 24px;
}

#integrations-details .integration-header .btn-primary {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
}

#integrations-details .integration-header .btn-primary:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 1024px) {
  #integrations-details .integration-header .btn-primary {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  #integrations-details .integration-header {
    padding: 1rem;
  }
}

#integrations-details .integration-content {
  background-color: #EBF5EF;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 5rem;
}

#integrations-details .integration-content h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 57px;
  color: #171717;
}

#integrations-details .integration-content p {
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  color: #404040;
}

#integrations-details .integration-content ul {
  list-style: disc;
  padding: 0 0 0 1.5rem;
}

#integrations-details .integration-content ul li {
  position: relative;
  margin: 0.5rem 0;
}

#integrations-details .integration-content ul li::marker {
  color: #012C16;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  #integrations-details .integration-content {
    padding: 3rem;
  }
}

@media (max-width: 768px) {
  #integrations-details .integration-content {
    padding: 2rem;
  }
}

#contact-area .contact-form {
  background-color: #EBF5EF;
  max-width: 800px;
  padding: 3rem;
  border-radius: 20px;
}

#contact-area .contact-form label {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  margin-bottom: 10px;
}

#contact-area .contact-form input {
  padding: 10px 14px;
  border-radius: 5px;
}

#contact-area .contact-form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#contact-area .contact-form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#contact-area .contact-form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#contact-area .contact-form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#contact-area .contact-form input:focus {
  outline: 2px solid #098239;
}

#contact-area .contact-form textarea {
  padding: 10px;
  border-radius: 5px;
}

#contact-area .contact-form textarea:focus {
  outline: 2px solid #098239;
}

#contact-area .contact-form .btn-submit {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

#contact-area .contact-form .btn-submit:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 1024px) {
  #contact-area .contact-form {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  #contact-area .contact-form {
    padding: 4rem 1rem;
  }
}

#stats-section .section-heading-area .section-title {
  font-size: 2.5rem;
  line-height: 48px;
  text-align: center;
}

#job-details .job-details-area .section-title {
  font-size: 2.3rem;
  margin-bottom: 15px;
}

#job-details .job-details-area .job-responsibilities ul, #job-details .job-details-area .qualifications ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 2rem;
}

#job-details .job-details-area .job-responsibilities ul li::marker, #job-details .job-details-area .qualifications ul li::marker {
  color: #737373;
}

#job-details .job-details-area .job-responsibilities ul li, #job-details .job-details-area .qualifications ul li {
  color: #737373;
  line-height: 24px;
}

#job-details .job-details-area .contact-form {
  border: 1px solid #E1EBFF;
  border-radius: 20px;
  padding: 1.3rem;
}

#job-details .job-details-area .contact-form label {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  margin-bottom: 10px;
}

#job-details .job-details-area .contact-form input {
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #F3F7FF;
}

#job-details .job-details-area .contact-form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#job-details .job-details-area .contact-form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#job-details .job-details-area .contact-form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#job-details .job-details-area .contact-form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#job-details .job-details-area .contact-form input:focus {
  outline: 2px solid #098239;
}

#job-details .job-details-area .contact-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #F3F7FF;
}

#job-details .job-details-area .contact-form textarea:focus {
  outline: 2px solid #098239;
}

#job-details .job-details-area .contact-form .btn-submit {
  font-weight: 400;
  line-height: 24px;
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
}

#job-details .job-details-area .contact-form .btn-submit:hover {
  color: #098239;
  background-color: transparent;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

@media (max-width: 1024px) {
  #job-details .job-details-area .contact-form {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  #job-details .job-details-area .contact-form {
    padding: 4rem 1rem;
  }
}

@media (min-width: 1300px) {
  #job-details .job-details-area {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

#terms-condition {
  background-color: #FAFDFB;
}

#terms-condition .content-area {
  max-width: 680px;
  margin: 0 auto;
}

#terms-condition .content-area .section-header {
  margin-bottom: 2.5rem;
}

#terms-condition .content-area .section-header .section-title {
  margin-bottom: 1rem;
  font-size: 3.2rem;
  line-height: 70px;
}

#terms-condition .content-area .section-header .section-desc {
  font-size: 18px;
}

#terms-condition .content-area .terms {
  margin-left: 5px;
}

#terms-condition .content-area .terms li {
  margin-top: 5px;
}

#terms-condition .content-area .privacy-policy-footer {
  margin-top: 20px;
}

#terms-condition .content-area .privacy-policy-footer p {
  color: #737373;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

#terms-condition .content-area .privacy-policy-footer .privacy-policy-update {
  margin: 20px 0;
}

#sign-in .container, #sign-up .container {
  padding: 0;
}

#sign-in .container .auth-panel, #sign-up .container .auth-panel {
  padding: 2rem;
  min-height: 100lvh;
}

#sign-in .container .auth-panel .welcome-panel, #sign-up .container .auth-panel .welcome-panel {
  background-color: #012C16;
  border-radius: 20px;
  height: 100%;
  padding: 4rem 3rem;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content, #sign-up .container .auth-panel .welcome-panel .welcome-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .section-title, #sign-up .container .auth-panel .welcome-panel .welcome-content .section-title {
  color: #FFFFFF;
  text-align: center;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .section-desc, #sign-up .container .auth-panel .welcome-panel .welcome-content .section-desc {
  color: #F5FAF7;
  text-align: center;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .feature-section .section-title, #sign-up .container .auth-panel .welcome-panel .welcome-content .feature-section .section-title {
  font-size: 2rem;
  line-height: 48px;
  font-weight: 500;
  color: #FAFAFA;
  margin-bottom: 12px;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .feature-section .section-desc, #sign-up .container .auth-panel .welcome-panel .welcome-content .feature-section .section-desc {
  color: #FAFAFA;
  text-align: center;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .navigation-dots, #sign-up .container .auth-panel .welcome-panel .welcome-content .navigation-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 3.5rem;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .navigation-dots .dot, #sign-up .container .auth-panel .welcome-panel .welcome-content .navigation-dots .dot {
  background-color: #FFFFFF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
}

#sign-in .container .auth-panel .welcome-panel .welcome-content .navigation-dots .dot.active, #sign-up .container .auth-panel .welcome-panel .welcome-content .navigation-dots .dot.active {
  display: block;
  width: 24px;
  height: 8px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  #sign-in .container .auth-panel, #sign-up .container .auth-panel {
    padding: 1rem;
  }
}

#sign-in .container .auth-panel .form-panel, #sign-up .container .auth-panel .form-panel {
  padding: 2rem 7rem;
  position: relative;
  height: 100vh;
}

#sign-in .container .auth-panel .form-panel .tab-buttons, #sign-up .container .auth-panel .form-panel .tab-buttons {
  background-color: #EBF5EF;
  border-radius: 8px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

#sign-in .container .auth-panel .form-panel .tab-buttons .tab-button, #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button {
  width: 50%;
  border-radius: 8px;
  background-color: transparent;
  border: none;
  color: #9C9AA5;
  padding: 6px 8px;
}

#sign-in .container .auth-panel .form-panel .tab-buttons .tab-button:hover, #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button:hover {
  border: none !important;
  background-color: #098239;
  color: #F5FAF7;
}

#sign-in .container .auth-panel .form-panel .tab-buttons .tab-button.active, #sign-up .container .auth-panel .form-panel .tab-buttons .tab-button.active {
  background-color: #098239;
  color: #F5FAF7;
}

#sign-in .container .auth-panel .form-panel #signup-form, #sign-in .container .auth-panel .form-panel #signin-form, #sign-up .container .auth-panel .form-panel #signup-form, #sign-up .container .auth-panel .form-panel #signin-form {
  display: none;
}

#sign-in .container .auth-panel .form-panel #signup-form.active, #sign-in .container .auth-panel .form-panel #signin-form.active, #sign-up .container .auth-panel .form-panel #signup-form.active, #sign-up .container .auth-panel .form-panel #signin-form.active {
  display: block;
}

#sign-in .container .auth-panel .form-panel #signup-form label, #sign-in .container .auth-panel .form-panel #signin-form label, #sign-up .container .auth-panel .form-panel #signup-form label, #sign-up .container .auth-panel .form-panel #signin-form label {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #171717;
  margin-bottom: 10px;
}

#sign-in .container .auth-panel .form-panel #signup-form input, #sign-in .container .auth-panel .form-panel #signin-form input, #sign-up .container .auth-panel .form-panel #signup-form input, #sign-up .container .auth-panel .form-panel #signin-form input {
  padding: 10px 14px;
  border-radius: 5px;
  outline: 2px solid #098239;
  background-color: #EBF5EF;
}

#sign-in .container .auth-panel .form-panel #signup-form input::-webkit-input-placeholder, #sign-in .container .auth-panel .form-panel #signin-form input::-webkit-input-placeholder, #sign-up .container .auth-panel .form-panel #signup-form input::-webkit-input-placeholder, #sign-up .container .auth-panel .form-panel #signin-form input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#sign-in .container .auth-panel .form-panel #signup-form input:-ms-input-placeholder, #sign-in .container .auth-panel .form-panel #signin-form input:-ms-input-placeholder, #sign-up .container .auth-panel .form-panel #signup-form input:-ms-input-placeholder, #sign-up .container .auth-panel .form-panel #signin-form input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#sign-in .container .auth-panel .form-panel #signup-form input::-ms-input-placeholder, #sign-in .container .auth-panel .form-panel #signin-form input::-ms-input-placeholder, #sign-up .container .auth-panel .form-panel #signup-form input::-ms-input-placeholder, #sign-up .container .auth-panel .form-panel #signin-form input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#sign-in .container .auth-panel .form-panel #signup-form input::placeholder, #sign-in .container .auth-panel .form-panel #signin-form input::placeholder, #sign-up .container .auth-panel .form-panel #signup-form input::placeholder, #sign-up .container .auth-panel .form-panel #signin-form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #737373;
}

#sign-in .container .auth-panel .form-panel #signup-form input:focus, #sign-in .container .auth-panel .form-panel #signin-form input:focus, #sign-up .container .auth-panel .form-panel #signup-form input:focus, #sign-up .container .auth-panel .form-panel #signin-form input:focus {
  outline: 2px solid #098239;
  -webkit-box-shadow: 0px 2px 4px 2px #465FF11A;
          box-shadow: 0px 2px 4px 2px #465FF11A;
}

#sign-in .container .auth-panel .form-panel #signup-form .forgot-password-link, #sign-in .container .auth-panel .form-panel #signin-form .forgot-password-link, #sign-up .container .auth-panel .form-panel #signup-form .forgot-password-link, #sign-up .container .auth-panel .form-panel #signin-form .forgot-password-link {
  font-size: 12px;
  line-height: 18px;
}

#sign-in .container .auth-panel .form-panel #signup-form textarea, #sign-in .container .auth-panel .form-panel #signin-form textarea, #sign-up .container .auth-panel .form-panel #signup-form textarea, #sign-up .container .auth-panel .form-panel #signin-form textarea {
  padding: 10px;
  border-radius: 5px;
}

#sign-in .container .auth-panel .form-panel #signup-form textarea:focus, #sign-in .container .auth-panel .form-panel #signin-form textarea:focus, #sign-up .container .auth-panel .form-panel #signup-form textarea:focus, #sign-up .container .auth-panel .form-panel #signin-form textarea:focus {
  outline: 2px solid #098239;
}

#sign-in .container .auth-panel .form-panel #signup-form .password-strength, #sign-in .container .auth-panel .form-panel #signin-form .password-strength, #sign-up .container .auth-panel .form-panel #signup-form .password-strength, #sign-up .container .auth-panel .form-panel #signin-form .password-strength {
  color: #404040;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  padding: 0;
}

#sign-in .container .auth-panel .form-panel #signup-form .password-strength.active, #sign-in .container .auth-panel .form-panel #signin-form .password-strength.active, #sign-up .container .auth-panel .form-panel #signup-form .password-strength.active, #sign-up .container .auth-panel .form-panel #signin-form .password-strength.active {
  color: #098239;
}

#sign-in .container .auth-panel .form-panel #signup-form .password-strength .strength-item, #sign-in .container .auth-panel .form-panel #signin-form .password-strength .strength-item, #sign-up .container .auth-panel .form-panel #signup-form .password-strength .strength-item, #sign-up .container .auth-panel .form-panel #signin-form .password-strength .strength-item {
  position: relative;
  padding-left: 20px;
}

#sign-in .container .auth-panel .form-panel #signup-form .password-strength .strength-item.active, #sign-in .container .auth-panel .form-panel #signin-form .password-strength .strength-item.active, #sign-up .container .auth-panel .form-panel #signup-form .password-strength .strength-item.active, #sign-up .container .auth-panel .form-panel #signin-form .password-strength .strength-item.active {
  color: #098239;
}

#sign-in .container .auth-panel .form-panel #signup-form .password-strength .strength-item::before, #sign-in .container .auth-panel .form-panel #signin-form .password-strength .strength-item::before, #sign-up .container .auth-panel .form-panel #signup-form .password-strength .strength-item::before, #sign-up .container .auth-panel .form-panel #signin-form .password-strength .strength-item::before {
  content: "\f00c";
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
  top: 0;
}

#sign-in .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-in .container .auth-panel .form-panel #signin-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signup-form .sign-up-btn, #sign-up .container .auth-panel .form-panel #signin-form .sign-up-btn {
  width: 100%;
  margin-top: 25px;
  font-weight: 500;
}

#sign-in .container .auth-panel .form-panel #signup-form .sign-in-btn, #sign-in .container .auth-panel .form-panel #signin-form .sign-in-btn, #sign-up .container .auth-panel .form-panel #signup-form .sign-in-btn, #sign-up .container .auth-panel .form-panel #signin-form .sign-in-btn {
  font-weight: 400;
  line-height: 24px;
  color: #098239;
  background-color: "transparent";
  border: 1px solid #098239;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
}

#sign-in .container .auth-panel .form-panel #signup-form .sign-in-btn:hover, #sign-in .container .auth-panel .form-panel #signin-form .sign-in-btn:hover, #sign-up .container .auth-panel .form-panel #signup-form .sign-in-btn:hover, #sign-up .container .auth-panel .form-panel #signin-form .sign-in-btn:hover {
  color: #F5FAF7;
  background-color: #098239;
  border: 1px solid #098239;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

#sign-in .container .auth-panel .form-panel #signup-form .or-divider, #sign-in .container .auth-panel .form-panel #signin-form .or-divider, #sign-up .container .auth-panel .form-panel #signup-form .or-divider, #sign-up .container .auth-panel .form-panel #signin-form .or-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #6c757d;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 20px;
}

#sign-in .container .auth-panel .form-panel #signup-form .or-divider::before, #sign-in .container .auth-panel .form-panel #signup-form .or-divider::after, #sign-in .container .auth-panel .form-panel #signin-form .or-divider::before, #sign-in .container .auth-panel .form-panel #signin-form .or-divider::after, #sign-up .container .auth-panel .form-panel #signup-form .or-divider::before, #sign-up .container .auth-panel .form-panel #signup-form .or-divider::after, #sign-up .container .auth-panel .form-panel #signin-form .or-divider::before, #sign-up .container .auth-panel .form-panel #signin-form .or-divider::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top: 1px solid #C2E0CE;
  margin: 0 10px;
}

#sign-in .container .auth-panel .form-panel .terms-message, #sign-up .container .auth-panel .form-panel .terms-message {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #404040;
}

#sign-in .container .auth-panel .form-panel .terms-message a, #sign-up .container .auth-panel .form-panel .terms-message a {
  color: #171717;
}

@media (max-width: 1024px) {
  #sign-in .container .auth-panel .form-panel, #sign-up .container .auth-panel .form-panel {
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  #sign-in .container .auth-panel .form-panel, #sign-up .container .auth-panel .form-panel {
    padding: 4rem 1rem;
  }
}

.error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.error-page .error-title {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 72px;
  color: #171717;
}

.error-page .error-subtitle {
  font-size: 1rem;
  color: #404040;
  line-height: 24px;
  margin: 0.5rem 0;
}

.error-page .error-content {
  margin: 2rem 0;
}

.error-page .error-content .error-image {
  width: 300px;
  height: auto;
}

.error-page .error-content .error-message {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: #171717;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */