#hero-section-homes {
  background-color: $mint-white;

  .hero__container {
      @include hero-container;

      .hero__content-area {
          @include hero_content;

          .hero__description {
              @include hero-description;
          }

          .hero__button-group {
              @include hero-button-group;
          }
      }

      .hero__img {
          @include hero-img;
      }
  }
}

#hero-section-features {
  margin-top: -90px;

  .container {
      @include hero-container;

      .hero-content-area {
          padding-top: 3rem;

          .content {
              max-height: 634px;

              @media (max-width: 768px) {
                  max-height: fit-content;
              }
          }
      }
  }
}
