#blog-breadcrumb{
    background-color: $light-normal;
    margin-top: -90px;
  
}

.our-mission{
    .card{
        background-color: $light-normal;
        p{
            color: $dark-gray;
            font-size: 18px;
        }
    }
}
