
#hero-section-features{
    .hero-content-area {
        .content{
            height: auto;
            padding: 7rem 1.5rem;

        }
    }
}

#ub-features{
    background-color: $white;
    .container{
        padding-top: 7rem;  
        padding-bottom: 7rem;

        .section-heading{
            .section-title {
                font-size: 2.8rem; 
            }
        }

        .features-area {
            display: grid;
            grid-template-columns: 1fr;  
            gap: 2rem; 
            margin-top: 4rem;
          
            .features-item{
                background:$soft-lilac;
                padding: 1.5rem;  
                border-radius: 1.5rem;

                .feature-title {
                    font-size: 2.25rem; 
                    font-weight: 500;    
                    margin-bottom: 1.5rem; 
                    color:$dark-neutral;
                    line-height:48px;
                }
                .feature-desc{
                    font-size:16px;
                    line-height:24px;
                    color:$dark-gray;
                }
                .feature-thumbnail {
                    margin-top: 2rem; 
                    img {
                        width: 100%;  
                    }
                }
                
              }
              
            @media (min-width: 768px) { 
              grid-template-columns: repeat(2, 1fr);
            }
        } 
    }
}


// feature details
#ub-feature-details{
    .container {
        padding-top: 7rem; 
        padding-bottom: 7rem; 
    
        .section-heading{
            .heading-desc {
                text-align: center;  
                margin-top: 1.5rem; 
                line-height: 27px;  
              }
              
        }
        .features-area {
            margin-top: 4rem;  
            .thumbnail {
                padding: 1.5rem; 
                border-radius: 1.5rem;  
                img{
                    width:100%;
                }
              }
              
          }
          
        .feature-content{
            display: flex;
            flex-direction: column;  
            gap: 1.5rem; 

            .wrapper {
                display: flex;
                flex-direction: column;  
                gap: 1.5rem; 

                h3 {
                    color:$dark-neutral;           
                    font-weight: 500;  
                    font-size: 1.875rem; 
                  }
                  
                p{
                    color: $dark-gray;         
                } 
              }

            @media (min-width: 768px) {  
                padding-left: 6rem; 
                padding-right: 6rem; 
            }
        } 
    
        @media (min-width: 768px) { 
            padding-left: 7rem;  
            padding-right: 7rem;  
        }
        }
}

