
#hero-section-features{
    .hero-content-area {
        .content{
            height: auto;
            padding: 7rem 1.5rem;

        }
    }
}

#ub-features{
    background-color: $white;
    .container{
        padding-top: 7rem;  
        padding-bottom: 7rem;

        .section-heading{
            .section-title {
                font-size: 2.8rem; 
            }
        }

        .features-area {
            display: grid;
            grid-template-columns: 1fr;  
            gap: 2rem; 
            margin-top: 4rem;
          
            .features-item{
                background: $light-color;
                padding: 1.5rem;  
                border-radius: 1.5rem;

                .feature-title {
                    font-size: 2.25rem; 
                    font-weight: 500;    
                    margin-bottom: 1.5rem; 
                  }
                .feature-thumbnail {
                    margin-top: 2rem; 
                    img {
                        width: 100%;  
                    }
                }
                
              }
              
            @media (min-width: 768px) { 
              grid-template-columns: repeat(2, 1fr);
            }
        } 
    }
}


// feature details
#feature-details{
    .section-heading{
        .circle-icon{
            display: block;
            width:8px; 
            height:8px;
            background-color:#4382FF;      
            border-radius:50%;                  
        }
        .section-sub-title{
            @extend .section-sub-title; 
            background-color:$white;
            border:1px solid #F3F7FF;
            display: flex;
        }
    }
    .feature-content{
        h3{
            color:$dark-neutral;           
        }
        p{
            color: $dark-gray;         
        } 
    } 
}

