#pricing{
    .pricing-switcher {
        background-color: $light-normal;
        margin: 0 auto;

    .switcher-btn {
        font-family: 'Inter', sans-serif;
        border: none;
        background: none;
        color: $dark-gray;
        transition: color 0.3s, background-color 0.3s;
        padding: 8px 15px;
        border-radius: 50px;
        cursor: pointer;

        &.active {
        background-color: $primary-color; 
        color: $light-color;
        }

        &:hover {
        background-color:$primary-color;
        color: $light-color;
        }
    }
    }

    .pricing-cards{
        .card{
            background-color: $light-color;
            border: 1px solid rgba(64, 64, 64, 0.12);
            &:hover{
                background-color: $green-deep;
                transition: 0.5s ease;
                h3,p,.features{
                    color: $light-neutral;
                }
                .price{
                    span{
                        color: $light-neutral;
                    }
                }
                .fa-check{
                    color: #FAFDFB;
                }
                .buy-now-btn{
                    background-color: $light-color;
                }
            }
            h3,p{
                color: $soft-gray;
            }
            .price{
                span{
                    color: $dark-neutral;
                }
            }
            .features{
                color: $dark-blue-gray;
            }
            .buy-now-btn{
                text-decoration: none;
                display: block;
                background-color: $soft-green-gray;
                padding: 12px 5px;
                border-radius: 32px;
                text-align: center;
            }
        }
    }
}