#faq{
    background-color: $background-light;
    overflow-x: hidden;  
    .section-sub-title{
        @extend  .section-sub-title;
    }
    .faq-area{ 
        .faq-item{
            background-color: $light-color;
            .faq-toggle-icon{
                background-color: $primary-color; 
            }
        }
    } 
}