#blogs {
    .blog-card{
        background-color: $white;
        .blog-content{
            border: 1px solid rgba($dark-gray, 8%);
            .blog-cat{
                span{
                    background-color: $light-color;
                    font-weight: 500;
                    color: $dark-gray;
                    display: block;
                }
            }
            .blog-date{
                p{
                    background-color: $light-color;
                    font-weight: 500;
                    color: $dark-gray;
                }
            }
            .blog-title{
                color: $dark-neutral;
            }
        }
       
    }
    .blog-btn-area {
        .btn-primary {
            @include btn();  
        }
    
        .btn-secondary {
            @include btn($bgColor: $light-color, $hoverBgColor: $primary-color, $color:$dark-gray, $hoverColor: $light-color, $border:$light-color);    
        }
    }
}